@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);

#menu-3 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3 .navbar-caption {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Noto Sans', sans-serif;
}
#menu-3 .navbar-toggler {
  color: #ffffff;
}
#menu-3 .link,
#menu-3 .dropdown-item {
  color: #ffffff;
}
#menu-3 .link {
  font-size: 0.75rem;
}
#menu-3 .dropdown-item,
#menu-3 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-3 .link:hover,
#menu-3 .dropdown-item:hover,
#menu-3 .link:focus,
#menu-3 .dropdown-item:focus {
  color: #c0a375;
}
#menu-3 .link[aria-expanded="true"],
#menu-3 .dropdown-menu {
  background: #0e0e0e;
}
#menu-3 .nav-dropdown-sm .link:focus,
#menu-3 .nav-dropdown-sm .link:hover,
#menu-3 .nav-dropdown-sm .dropdown-item:focus,
#menu-3 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-3 .navbar,
#menu-3 .nav-dropdown-sm,
#menu-3 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-3 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-3 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3 .bg-color.transparent.opened .link:hover,
#menu-3 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-3 .link[aria-expanded="true"],
#menu-3 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-3 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-3 .close-icon::before,
#menu-3 .close-icon::after {
  background-color: #ffffff;
}
#header4-4 H1 {
  font-size: 60px;
}
#header4-4 P {
  font-size: 18px;
}
#pricing-table1-6 .mbr-section__container .mbr-section-title {
  color: #fff;
}
#pricing-table1-6 .mbr-section__container .mbr-section-subtitle {
  color: #a0a0a0;
}
#pricing-table1-6 .mbr-price-figure {
  text-align: right;
  font-size: 48px;
}
#contacts2-8 STRONG {
  text-align: center;
}

#menu-28 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-28 .navbar-caption {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Noto Sans', sans-serif;
}
#menu-28 .navbar-toggler {
  color: #ffffff;
}
#menu-28 .link,
#menu-28 .dropdown-item {
  color: #ffffff;
}
#menu-28 .link {
  font-size: 0.75rem;
}
#menu-28 .dropdown-item,
#menu-28 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-28 .link:hover,
#menu-28 .dropdown-item:hover,
#menu-28 .link:focus,
#menu-28 .dropdown-item:focus {
  color: #c0a375;
}
#menu-28 .link[aria-expanded="true"],
#menu-28 .dropdown-menu {
  background: #0e0e0e;
}
#menu-28 .nav-dropdown-sm .link:focus,
#menu-28 .nav-dropdown-sm .link:hover,
#menu-28 .nav-dropdown-sm .dropdown-item:focus,
#menu-28 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-28 .navbar,
#menu-28 .nav-dropdown-sm,
#menu-28 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-28 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-28 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-28 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-28 .bg-color.transparent.opened .link:hover,
#menu-28 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-28 .link[aria-expanded="true"],
#menu-28 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-28.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-28 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-28 .close-icon::before,
#menu-28 .close-icon::after {
  background-color: #ffffff;
}
#header3-10 .mbr-section-title,
#header3-10 .mbr-section-subtitle {
  text-align: center;
}
#header3-10 H3 {
  color: #ffffff;
}
#header3-10 SMALL {
  color: #ffffff;
  font-size: 15px;
}
#content1-9 P {
  text-align: left;
}
#testimonials1-8 .mbr-section-subtitle {
  color: #ffffff;
}
#testimonials1-8 .mbr-section-title {
  color: #ffffff;
}

#menu-3 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3 .navbar-caption {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Noto Sans', sans-serif;
}
#menu-3 .navbar-toggler {
  color: #ffffff;
}
#menu-3 .link,
#menu-3 .dropdown-item {
  color: #ffffff;
}
#menu-3 .link {
  font-size: 0.75rem;
}
#menu-3 .dropdown-item,
#menu-3 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-3 .link:hover,
#menu-3 .dropdown-item:hover,
#menu-3 .link:focus,
#menu-3 .dropdown-item:focus {
  color: #c0a375;
}
#menu-3 .link[aria-expanded="true"],
#menu-3 .dropdown-menu {
  background: #0e0e0e;
}
#menu-3 .nav-dropdown-sm .link:focus,
#menu-3 .nav-dropdown-sm .link:hover,
#menu-3 .nav-dropdown-sm .dropdown-item:focus,
#menu-3 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-3 .navbar,
#menu-3 .nav-dropdown-sm,
#menu-3 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-3 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-3 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3 .bg-color.transparent.opened .link:hover,
#menu-3 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-3 .link[aria-expanded="true"],
#menu-3 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-3 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-3 .close-icon::before,
#menu-3 .close-icon::after {
  background-color: #ffffff;
}
#features1-13 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}

#menu-20 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-20 .navbar-caption {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Noto Sans', sans-serif;
}
#menu-20 .navbar-toggler {
  color: #ffffff;
}
#menu-20 .link,
#menu-20 .dropdown-item {
  color: #ffffff;
}
#menu-20 .link {
  font-size: 0.75rem;
}
#menu-20 .dropdown-item,
#menu-20 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-20 .link:hover,
#menu-20 .dropdown-item:hover,
#menu-20 .link:focus,
#menu-20 .dropdown-item:focus {
  color: #c0a375;
}
#menu-20 .link[aria-expanded="true"],
#menu-20 .dropdown-menu {
  background: #0e0e0e;
}
#menu-20 .nav-dropdown-sm .link:focus,
#menu-20 .nav-dropdown-sm .link:hover,
#menu-20 .nav-dropdown-sm .dropdown-item:focus,
#menu-20 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-20 .navbar,
#menu-20 .nav-dropdown-sm,
#menu-20 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-20 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-20 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-20 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-20 .bg-color.transparent.opened .link:hover,
#menu-20 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-20 .link[aria-expanded="true"],
#menu-20 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-20.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-20 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-20 .close-icon::before,
#menu-20 .close-icon::after {
  background-color: #ffffff;
}
#features1-22 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}

#menu-24 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-24 .navbar-caption {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Noto Sans', sans-serif;
}
#menu-24 .navbar-toggler {
  color: #ffffff;
}
#menu-24 .link,
#menu-24 .dropdown-item {
  color: #ffffff;
}
#menu-24 .link {
  font-size: 0.75rem;
}
#menu-24 .dropdown-item,
#menu-24 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-24 .link:hover,
#menu-24 .dropdown-item:hover,
#menu-24 .link:focus,
#menu-24 .dropdown-item:focus {
  color: #c0a375;
}
#menu-24 .link[aria-expanded="true"],
#menu-24 .dropdown-menu {
  background: #0e0e0e;
}
#menu-24 .nav-dropdown-sm .link:focus,
#menu-24 .nav-dropdown-sm .link:hover,
#menu-24 .nav-dropdown-sm .dropdown-item:focus,
#menu-24 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-24 .navbar,
#menu-24 .nav-dropdown-sm,
#menu-24 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-24 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-24 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-24 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-24 .bg-color.transparent.opened .link:hover,
#menu-24 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-24 .link[aria-expanded="true"],
#menu-24 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-24.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-24 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-24 .close-icon::before,
#menu-24 .close-icon::after {
  background-color: #ffffff;
}

#menu-28 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-28 .navbar-caption {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Noto Sans', sans-serif;
}
#menu-28 .navbar-toggler {
  color: #ffffff;
}
#menu-28 .link,
#menu-28 .dropdown-item {
  color: #ffffff;
}
#menu-28 .link {
  font-size: 0.75rem;
}
#menu-28 .dropdown-item,
#menu-28 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-28 .link:hover,
#menu-28 .dropdown-item:hover,
#menu-28 .link:focus,
#menu-28 .dropdown-item:focus {
  color: #c0a375;
}
#menu-28 .link[aria-expanded="true"],
#menu-28 .dropdown-menu {
  background: #0e0e0e;
}
#menu-28 .nav-dropdown-sm .link:focus,
#menu-28 .nav-dropdown-sm .link:hover,
#menu-28 .nav-dropdown-sm .dropdown-item:focus,
#menu-28 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-28 .navbar,
#menu-28 .nav-dropdown-sm,
#menu-28 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-28 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-28 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-28 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-28 .bg-color.transparent.opened .link:hover,
#menu-28 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-28 .link[aria-expanded="true"],
#menu-28 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-28.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-28 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-28 .close-icon::before,
#menu-28 .close-icon::after {
  background-color: #ffffff;
}
